<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


   
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    

       <link href="@Url.Content("~/Styles/StyleSheetAll.css")" rel="stylesheet" type="text/css" />

       
       <style>
           .userstyle {
               float: left;
               margin-left: 45%;
           }

           .logo {
               height: 50px;
               width: auto;
               margin-left: 0px;
               float: left;
               margin-top: 5px;
               margin-right: 5px;
               margin-bottom: 5px;
           }

           .customfooter {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
               height: 50px;
               background-color: #000;
           }
       </style>


</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/fonts/images/logo.png" alt="paycheck" class="logo" />
                @Html.ActionLink("Paycheck Protection Program", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav userstyle">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="customfooter">

            <p style="color:white;text-align:center;margin-top:15px;">copyright &copy; @DateTime.Now.Year PPP. All rights reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
